@import "tailwindcss";

/* Di Tailwind v4, kita mendefinisikan warna custom 
  langsung di dalam blok @theme menggunakan variabel CSS 
*/
@theme {
  --color-darkBlue: #0a0f1c;
  --color-deepBlue: #1e3a8a;
  --color-neonBlue: #38bdf8;
}

/* Base styles */
body {
  /* Kita gunakan variabel warna yang baru dibuat */
  background-color: var(--color-darkBlue); 
  color: white;
  overflow-x: hidden;
}